APP_ENV=production
APP_DEBUG=false
APP_KEY=lsXxrP1d6nUGpfGO6vQqezNy1KCuDD3o
APP_URL=http://vanguard.dev

DB_HOST=localhost
DB_DATABASE=vanguard
DB_USERNAME=homestead
DB_PASSWORD=secret
DB_PREFIX=vg_

CACHE_DRIVER=file
SESSION_DRIVER=database
QUEUE_DRIVER=sync

MAIL_DRIVER=mail
MAIL_FROM_NAME=Vanguard
MAIL_FROM_ADDRESS=vanguard@test.dev

BIOSTAR_API_URL=http://127.0.0.1:8002/
BIOSTAR_API_USER=manuel@manuel.com
BIOSTAR_API_PASSWORD=abcd1234
BIOSTAR_API_CLIENT_ID=7
BIOSTAR_CLIENT_SECRET=o0E9nYnDsT0zhtPc4HdjpiynoFJcJlU6tQ5vypMm

DB_HOST=localhost
DB_DATABASE=solicitudverificacionbk
DB_USERNAME=root
DB_PASSWORD=
DB_PREFIX=

MYSQL_ROOT_PASSWORD=''
MYSQL_ROOT_HOST="%"
MYSQL_DATABASE='solicitudverificacionbk'
MYSQL_USER='root'
MYSQL_PASSWORD=''
MYSQL_ALLOW_EMPTY_PASSWORD='yes'
COMPOSER_ALLOW_SUPERUSER=1
